/R-4.0.5/
/venv/
umiVar_personalized
/Test/GRCh37.fa
/Test/GRCh37.fa.fai
/.idea
/Test/umiVar_CFDNA_01
/Test/umiVar_CFDNA_02
/settings.ini
/Test/CFDNA_01_ID.tsv
/Test/chr7.fa
/Test/chr7.fa.fai
/Test/selectMonitoring01
/Test/selectMonitoring02
/Test/chr10.fa
/Test/chr10.fa.fai
